

/* ion-card-header {
    padding: 5px;
    margin: 0px;
} */

ion-card-header {
    padding: 5px;
  
} 

ion-card-title {
  font-size: 15px;
}


ion-card {
   min-height: 100px;
  }

 ion-col{
    margin: -5px;
   
    
}

ion-label{
    font-size: 30px;
    margin-left: 30px;
}
 
