<ion-header>
  <ion-toolbar>
    <ion-title>Gerenciamento de Audiências</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">

  <ion-grid no-padding>
    <ion-row style="margin-left: -12px;">
      <ion-col size-xs="12" size-md="auto">
        <ion-card button="true"  routerLink="/aprovar-aud">
          <ion-grid no-padding>
            <ion-row class="ion-align-items-center">
              <ion-col   class="ion-no-border" size-xs="4" size-md="auto">
                <ion-label  > 50 </ion-label>
              </ion-col>
              <ion-col class="ion-no-border" size-xs="8" size-md="auto">
                <ion-card-header>
                  <ion-card-title > Audiências solicitadas

                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Aprove ou negue 
                  <br />
                  
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-md="auto">
      
        <ion-card >
          <ion-grid no-padding>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-no-border" size-xs="4" size-md="auto">
                <ion-label  size="large"> 30 </ion-label>
              </ion-col>
              <ion-col class="ion-no-border" size-xs="8" size-md="auto">
                <ion-card-header>
                  <ion-card-title>  Audiências confirmadas

                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Aprovadas até o momento
                  
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>