<ion-content class="ion-padding animated fadeIn login auth-page">


 
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
     
          <ion-img class="img-login center" src="../../assets/brasaotjam.jpg"></ion-img>
     
    </div>
   
    <ion-title text-center class="ion-text-center" color="light">
      RéusAgend 
     </ion-title>
    
   
    
    <!-- Login form -->
    <div  class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Usuário
        </ion-label>
        <ion-input  color="light" required="true" type="text" [(ngModel)]="usuario"></ion-input>
      </ion-item>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock-closed" item-start></ion-icon>
          Senha
        </ion-label>
        <ion-input color="light" equired="true" type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
      </div>

      <div >
        <ion-button  class="logar" icon-left size="medium" expand="full" shape="round" color="dark" (click)="login()"  tappable>
          <ion-icon name="log-in"></ion-icon>
          Login
        </ion-button>
      </div>
    <!-- Other links -->
  </div>
</ion-content>

<ion-footer>
 
</ion-footer>