<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      *ngIf="urlsplit[1] != 'login'"
      contentId="main-content"
      type="overlay"
    >
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list id="inbox-list" class="ion-margin-top">
          <div *ngIf="sessionStorage.perfil == 'VARA'">
            <ion-menu-toggle
              auto-hide="false"
              *ngFor="let p of appPages; let i = index"
            >
              <ion-item
                routerDirection="root"
                [routerLink]="[p.url]"
                lines="none"
                detail="false"
              >
                <ion-icon
                  slot="start"
                  [ios]="p.icon + '-outline'"
                  [md]="p.icon + '-sharp'"
                ></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>

          <div *ngIf="sessionStorage.perfil == 'SEAP'">
            <ion-menu-toggle
              auto-hide="false"
              *ngFor="let p of appSeap; let i = index"
            >
              <ion-item
                routerDirection="root"
                [routerLink]="p.url"
                lines="none"
                detail="false"
              >
                <ion-icon
                  slot="start"
                  [ios]="p.icon + '-outline'"
                  [md]="p.icon + '-sharp'"
                ></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <ion-item (click)="about()">
            <ion-icon slot="start" name="information-circle"> </ion-icon>
            <ion-label>Sobre este app</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-list>
          <ion-item>Configurações</ion-item>

          <ion-item-divider color="primary">
            Audiências de {{ periodo.lower }} até {{ periodo.upper }}
            <!--  Configura o período de audiências que serão listadas como destaque em dias-->
            <ion-badge class="ion-margin-end" color="light" slot="end"
              >{{ hits }}
            </ion-badge>
          </ion-item-divider>

          <ion-item>
            <ion-range
              min="0"
              max="800"
              step="5"
              pin="true"
              snaps="true"
              dualKnobs="true"
              [(ngModel)]="periodo"
              (ionChange)="filterByPeriodo()"
            >
              <ion-label slot="start">0</ion-label>
              <ion-label slot="end">800</ion-label>
            </ion-range>
          </ion-item>

          <ion-radio-group
            [(ngModel)]="settings.style"
            (ionChange)="updateSettings()"
          >
            <ion-item>
              <ion-label>Estilo Azul</ion-label>
              <ion-radio value="azure-style"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Estilo Verão</ion-label>
              <ion-radio value="summer-style"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Permitir Mensagens</ion-label>
              <ion-checkbox
                [(ngModel)]="settings.notifications"
                (ionChange)="updateSettings()"
              >
              </ion-checkbox>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
