<ion-header>
  <ion-toolbar>
    <ion-title>modal-agendar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Pautar Audiência</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/brasaotjam.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2 text-wrap>{{audiencia.Name}}</h2>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>