<ion-header>
  <ion-toolbar>
    <ion-title>Audiências solicitadas</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item button="true" (click)="presentModal()" *ngFor="let audiencia of audiencias" routerDirection="forward">
      <ion-icon name="{{audiencia.Icon}}" slot="start"></ion-icon>
      {{audiencia.Name}}
      <ion-badge slot="end">{{audiencia.Count}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

 <!--  [routerLink]="['/list', {ID: audiencia.ID,
 Name: audiencia.Name } ]" -->