<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" size="small"
      >Solicitação de Audiência</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item-divider color="primary" position:sticky>
    <ion-label>Datas Desejadas</ion-label>
  </ion-item-divider>
</ion-header>

<ion-content>
  <!-- Schedule group -->

  <ion-list>
    <ion-item-group class="ion-padding">
      <!-- Date -->
      <ion-item>
        <ion-label position="floating">Data</ion-label>
        <ion-datetime
          month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, 
        Outubro, Novembro, Dezembro"
          day-names="Domingo, Segunda, Terça, Quarta, Quinta, Sexta, Sábado"
          cancelText="Cancelar"
          done-text="Confirmar"
          [(ngModel)]="request.Date"
          min="{{day_after_tomorrow}}"
          max="{{two_years_later}}"
          display-format="DDDD, DD de MMMM de YYYY"
          picker-format="DDD MMMM YYYY"
          placeholder="Por favor, escolha a data desejada"
        >
        </ion-datetime>
      </ion-item>

      <!-- Time -->
      <ion-item>
        <ion-label position="floating">Hora</ion-label>
        <ion-datetime
          cancelText="Cancelar"
          done-text="Confirmar"
          [(ngModel)]="request.Time"
          hourValues="9,10,11,12,13,14,15,16,17"
          minuteValues="0,15,30,45"
          display-format="H:mm"
          picker-format="HH mm"
          placeholder="Por favor, escolha a hora desejada!"
        >
        </ion-datetime>
      </ion-item>
    </ion-item-group>
    <!-- Contact information group -->
    <ion-item-group>
      <ion-item-divider color="primary">
        <ion-label>Informações do Réu</ion-label>
      </ion-item-divider>
      <hr />

      <!-- First name -->
      <ion-item>
        <ion-label position="floating">Primeiro nome</ion-label>
        <ion-input type="text" [(ngModel)]="request.FirstName"> </ion-input>
      </ion-item>

      <!-- Last name -->
      <ion-item>
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input type="text" [(ngModel)]="request.LastName"> </ion-input>
      </ion-item>

      <!-- Número do processo -->
      <ion-item>
        <ion-label position="floating">Cpf</ion-label>
        <ion-input type="number" [(ngModel)]="request.Cpf"> </ion-input>
      </ion-item>
      <!-- Nome da Mãe -->
      <ion-item>
        <ion-label position="floating">Mãe</ion-label>
        <ion-input type="text" [(ngModel)]="request.Mae"> </ion-input>
      </ion-item>

      <!-- Número do processo -->
      <ion-item>
        <ion-label position="floating">Processo Nº</ion-label>
        <ion-input type="number" [(ngModel)]="request.Processo"> </ion-input>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="send()"> Solicitar </ion-button>
</ion-footer>
